<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="copy_and_paste_yay4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <copy_and_paste_yay4.Properties.Settings>
            <setting name="Title1" serializeAs="String">
                <value />
            </setting>
            <setting name="Title2" serializeAs="String">
                <value />
            </setting>
            <setting name="Title3" serializeAs="String">
                <value />
            </setting>
            <setting name="Title4" serializeAs="String">
                <value />
            </setting>
            <setting name="Title5" serializeAs="String">
                <value />
            </setting>
            <setting name="Title6" serializeAs="String">
                <value />
            </setting>
            <setting name="Title7" serializeAs="String">
                <value />
            </setting>
            <setting name="Title8" serializeAs="String">
                <value />
            </setting>
            <setting name="Title9" serializeAs="String">
                <value />
            </setting>
            <setting name="Title10" serializeAs="String">
                <value />
            </setting>
            <setting name="Title11" serializeAs="String">
                <value />
            </setting>
            <setting name="Title12" serializeAs="String">
                <value />
            </setting>
            <setting name="Title13" serializeAs="String">
                <value />
            </setting>
            <setting name="Title14" serializeAs="String">
                <value />
            </setting>
            <setting name="Title15" serializeAs="String">
                <value />
            </setting>
            <setting name="Title16" serializeAs="String">
                <value />
            </setting>
            <setting name="Title17" serializeAs="String">
                <value />
            </setting>
            <setting name="Title18" serializeAs="String">
                <value />
            </setting>
            <setting name="Title19" serializeAs="String">
                <value />
            </setting>
            <setting name="Title20" serializeAs="String">
                <value />
            </setting>
            <setting name="Title21" serializeAs="String">
                <value />
            </setting>
            <setting name="Title22" serializeAs="String">
                <value />
            </setting>
            <setting name="Title23" serializeAs="String">
                <value />
            </setting>
            <setting name="Title24" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents1" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents2" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents3" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents4" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents5" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents6" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents7" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents8" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents9" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents10" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents11" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents12" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents13" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents14" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents15" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents16" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents17" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents18" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents19" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents20" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents21" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents22" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents23" serializeAs="String">
                <value />
            </setting>
            <setting name="Contents24" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabName1" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName2" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName3" serializeAs="String">
                <value />
            </setting>
        </copy_and_paste_yay4.Properties.Settings>
    </userSettings>
</configuration>